  .parent {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 400px;
      border: 1px black solid;
  }
  
  .left {
      width: 100px;
      height: 150px;
      border: 1px red solid;
  }
  
  .right {
      width: 100px;
      height: 150px;
      border: 1px green solid;
  }
  
  .son {
      border: 1px solid black;
      padding: 20px
  }